@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient(to top, #280626, #170722);
  color: white;
}



::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,0.15); border-radius: 3px; }
::-webkit-scrollbar-thumb:hover { background: rgba(255,255,255,0.25); }
